# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
migrations/
staticfiles/

# Environment variables
.env
.env.local
.env.production

# IDE / Editor
.vscode/
.idea/

# OS / Misc
.DS_Store
Thumbs.db

# Node/Bower dependencies
node_modules/
bower_components/

# Custom project stuff
screenshots/
